body {
  font-family: Arial, sans-serif;
<<<<<<< HEAD
  background-color: #f5f5f5;
}

.container {
  padding: 30px;
}

.card-wrapper {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  width: 220px;
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
=======
  background-color: #eeeeee;
}

.container {
  display: flex;
  gap: 40px;
  justify-content: center;
  padding: 40px;
}

.card {
  width: 230px;
  background-color: #f5f5f5;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
>>>>>>> 9f184f8 (week5)
}

.card img {
  width: 100%;
<<<<<<< HEAD
  border-radius: 8px;
}

.card h2 {
  margin: 10px 0 5px 0;
=======
  height: auto;
}

.card h2 {
  margin: 15px 0 5px 0;
}

.card h3 {
  margin: 0;
  font-weight: normal;
}

.hobby {
  margin-top: 10px;
  font-style: italic;
>>>>>>> 9f184f8 (week5)
}
